img {
  width: 100%;
  transition: opacity 1s;
}
main * {
  color: var(--font_B);
  word-break: keep-all;
}
.notice {
  position: relative;
}
.flex {
  display: flex;
  align-items: center;
}
.notice::after {
  content: "※ 이해를 돕기 위해 제작된 이미지로 실제와 다를 수 있습니다.";
  position: absolute;
  font-weight: 300;
  font-size: 14px;
  color: var(--font_G);
  right: 0;
  top: 100%;
  margin-top: 10px;
  white-space: nowrap;
}
.focus .notice::after {
  color: var(--font_W);
}
.focus {
  color: var(--font_W);
  background-color: #000;
  position: relative;
}
.focus h3,
.focus h4,
.focus p {
  color: var(--font_W);
}
.it main h3 {
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}
.it main h4 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
}
.it main p {
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  margin: 54px 0;
}

.it main p > span {
  display: block;
  color: inherit;
}
.it section {
  padding: 81px 0;
  transition: background 0.8s;
}
.it figure {
  margin: 0 auto 162px;
}
.it .sectionTitle {
  height: 756px;
  margin-bottom: 162px;
  object-fit: cover;
}
#section1 div.sectionTitle {
  background: url("../img/it_img_sec1.jpg") no-repeat center / cover fixed;
}
#section2 div.sectionTitle {
  background: url("../img/it_img_sec2.jpg") no-repeat center / cover fixed;
}
#section3 div.sectionTitle {
  background: url("../img/it_img_sec3.jpg") no-repeat center / cover fixed;
}
.it .titleBg {
  height: 756px;
  background: url("../img/it_img_titleBg_pc.jpg") no-repeat center 70% / cover;
  padding-top: 104px;
  margin-bottom: 162px;
}
.it .titleBg h2 {
  margin: 0;
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  margin-left: 147px;
}
.it .title_deco::before {
  vertical-align: top;
  content: "";
  display: inline-block;
  width: 18px;
  height: 48px;
  background-color: var(--point_R);
  margin-right: 30px;
}
.it .sec_live {
  width: 82.6%;
}
.it .sec_live .notice {
  background-image: url("../img/it_img_live.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.it .sec_live .notice::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.it .sec_live .monitorWrap {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.it .sec_live .monitorWrap img {
  position: absolute;
  z-index: 3;
  transform: scale(2);
  width: 70%;
  top: 25%;
  left: 15%;
  transition: 1s;
}
.it .sec_live .livemonitor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../img/it_img_live.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: scale(1.02);
  z-index: 2;
  clip-path: inset(-5% -14% 18%);
  transition: clip-path 1s;
}
.it .sec_live .monitorWrap.focus {
  background-color: transparent;
}
.it .sec_live .monitorWrap.focus img {
  transform: scale(1);
}
.it .sec_live .monitorWrap.focus .livemonitor {
  clip-path: inset(26% 16% 30%);
}
.it .sec_zoom {
  width: 96.9%;
}
.it .sec_zoom > div {
  display: grid;
  grid-template-columns: 793fr 50fr 423fr;
  grid-template-rows: auto;
}
.it .sec_zoom > div > .img_origin {
  grid-column: 1 / span 1;
  position: relative;
  overflow: hidden;
}
.it .sec_zoom > div > .img_origin .lens {
  width: 10%;
  height: 20%;
  border: 1px solid var(--font_W);
  background: rgba(100, 100, 100, 0.3);
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.it .sec_zoom .notice .screen {
  grid-column: 3 / span 1;
  background: url("../img/it_img_zoom.jpg") no-repeat;
  background-position: 0, 0;
}
.it .sec_black {
  width: 82.6%;
}
.it .sec_black .notice > div {
  background: url("../img/it_img_black_clear.jpg") no-repeat 0 0 / cover;
  position: absolute;
  border-right: 5px dashed var(--font_G2);
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
.it .sec_black figcaption {
  order: 2;
}
.it .sec_sunlight {
  width: 86.7%;
}
.it .sec_sunlight > div {
  background: url("../img/it_img_sunlight_clear.jpg") no-repeat center / cover;
}
.it .sec_sunlight .focus img {
  opacity: 0;
}
#section2 .stickyWrap {
  height: 350vh;
}
.it .sec_size {
  width: 96.9%;
  position: sticky;
  top: 50px;
  overflow: hidden;
}
.it .sec_size .notice img {
  width: 80%;
}
.it .sec_size .notice {
  padding-top: 35%;
  top: 0;
}
.it .sec_size .sizeImgWrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.it .sec_size .first ~ .sizeImgWrap {
  transform: translateX(20%);
  opacity: 0;
}
.it .sec_size .sizeImgWrap .shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}
.it .sec_bezeless {
  position: relative;
  height: 250vh;
}
.it .sec_bezeless .bezelDesc {
  position: sticky;
  top: 70vh;
}
.it .sec_bezeless figcaption {
  position: absolute;
  width: 624px;
  height: 80vh;
  bottom: 10vh;
  left: 9.84%;
  z-index: 1;
  color: var(--font_W);
}
.it .sec_bezeless .notice {
  position: sticky;
  top: 0;
}
.it main svg {
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 20%;
  top: 10%;
}
.it main .st0 {
  fill: #212121;
}
.it main .st1 {
  fill: #f4c603;
}
.it main .st2 {
  fill: none;
  stroke: #212121;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.it main .st3 {
  fill: none;
  stroke: #000000;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.it main .st4 {
  fill: none;
}
#line {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  stroke-width: 2px;
  transform-origin: center;
  transform: rotate(317deg);
}
#dashed {
  stroke-dasharray: 20, 10;
  stroke-dashoffset: 942;
  transform-origin: center;
  transform: rotate(317deg);
}
@keyframes dahsed {
  0% {
    stroke-dashoffset: 942;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.batteryArrow {
  transform: rotate(0deg);
  animation: batteryRotate 2s infinite;
  transform-origin: center;
}
.cell0 {
  animation: cells1 2s forwards infinite;
  opacity: 0;
}
.cell1 {
  animation: cells2 2s forwards infinite;
  opacity: 0;
}
.cell2 {
  animation: cells3 2s forwards infinite;
  opacity: 0;
}
@keyframes cells1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cells2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cells3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes batteryRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sec_battery .notice img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  animation: cells1 2s alternate infinite;
}
.it .sec_sketch .notice .grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-auto-flow: row;
}
.it .sec_sketch .notice .penTouch {
  display: block;
  background-image: url("../img/it_img_drawing.jpg");
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0;
}
.it .sec_sketch .notice .penTouch.drawing {
  opacity: 1;
}
.it .sec_gaming {
  width: 75%;
  height: 2000px;
}
.it .sec_gaming .notice {
  position: sticky;
  top: 30px;
}
.it .sec_gaming .notice > div {
  position: relative;
}
.it .sec_gaming .notice .gamingAfter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  background: url("../img/it_img_gamingafter.jpg") no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: 1;
  border-bottom: 4px dashed red;
}
.it .sec_folderable {
  width: 80.4%;
}
.it .sec_folderable .notice img {
  transition: 0.8s;
  transform: translateX(-120%);
}
.it .sec_folderable .notice img.active {
  transform: translateX(0%);
}

.it .sec_battery {
  width: 80.4%;
}
@media (max-width: 1000px) {
  .it main .flex {
    display: block;
  }
}
@media (max-width: 768px) {
  .it main h3 {
    font-size: 36px;
  }
  .it main h4 {
    font-size: 28px;
  }
  .it main p {
    font-size: 18px;
  }
  .it .titleBg {
    height: 324px;
    padding-top: 81px;
    margin-bottom: 0;
  }
  .it .titleBg h2 {
    font-size: 36px;
    font-weight: bold;
    margin-left: 13.2%;
  }
  .it .title_deco::before {
    vertical-align: top;
    width: 15px;
    height: 36px;
  }
  .it .contents {
    width: 92.3%;
  }
  .it .sectionTitle {
    height: 323px;
  }
  .it .sec_black .notice {
    width: 100%;
  }
  .it .sec_bezeless figcaption {
    position: sticky;
    max-width: 624px;
    width: 100%;
    height: auto;
    top: 10vh;
    left: 0;
    margin: 0 auto;
  }
  .it .sec_bezeless .notice {
    top: 45vh;
  }
  .it .sec_gaming {
    height: 200vh;
  }
  .it .sec_gaming figcaption {
    position: sticky;
    top: 10vh;
  }
  .it .sec_gaming .notice {
    top: 45vh;
  }
}
@media (max-width: 480px) {
  .it main h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .it main h4 {
    font-size: 18px;
  }
  .it main p {
    font-size: 10px;
    line-height: 14px;
  }
  .it .title_deco + p {
    font-size: 12px;
    line-height: 18px;
  }
  .it .contents {
    width: 100%;
  }
  .it .titleBg {
    background: none;
    height: 123px;
  }
  .it .titleBg h2 {
    font-size: 20px;
    line-height: 42px;
    margin-left: 22px;
    color: var(--font_B);
  }
  .it .titleBg h2.title_deco::before {
    height: 42px;
  }
  .it .title_deco::before {
    vertical-align: top;
    width: 11px;
    height: 24px;
    margin-right: 6px;
  }
  .it .sectionTitle {
    height: 164px;
  }
  .it .sec_sketch .notice .grid {
    grid-template-columns: 1fr 40fr;
    grid-template-rows: 1fr 40fr;
    transition: 0.8s;
    opacity: 1;
  }
  .it .sec_sketch .notice .grid.mobileSketch {
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 1fr 0fr;
  }
  #section3 .sectionTitle {
    height: 328px;
    background-position-y: 60px;
  }
  #section2 .stickyWrap {
    height: 300vh;
  }
  .it .sec_size {
    top: 20vh;
  }
  .it .sec_bezeless {
    height: 180vh;
  }
  .it .sec_bezeless figcaption {
    top: 20vh;
  }
  .it .sec_bezeless .bezelDesc {
    position: sticky;
    top: 30vh;
    height: auto;
  }
  /* #section3 div.sectionTitle {
    
  } */
  .it .sec_gaming {
    height: 150vh;
  }
  .it .sec_gaming figcaption {
    top: 20vh;
  }
  .it .sec_gaming .notice {
    top: 40vh;
  }
  .it .sec_battery svg {
    width: 200px;
    height: 200px;
    top: -5%;
    left: 5%;
  }
}
